.mode-toggle{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    height: 100px;
    width: 100px;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}
.mode-toggle:active{
    transform: rotate(360deg);
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.cloud{
    width: 200px;
    height: 60px;
    position: fixed;
    animation: float 5s ease-in-out infinite;
}
.cloud1{
    top: 2vh;
    left: 5vw;
}
.cloud2{
    top: 8vh;
    left: 20vw;
}
.cloud3{
    top: 2vh;
    left: 40vw;
}
.cloud4{
    top: 8vh;
    left: 60vw;
}
.cloud5{
    top: 2vh;
    left: 80vw;
}
@keyframes float {
    0% { transform: translatex(0); }
    50% { transform: translatex(-10px); }
    100% { transform: translatex(0); }
}
@media (max-width: 450px){
    .cloud{
        width: 120px;
        height: 60px;
    }
}