body{
  cursor: url("./assets/cursor.png"), pointer;	
}
@font-face {
  font-family: "Aladin-Regular";
  src: local("Aladin-Regular"),
  url("./fonts/Aladin-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "WinkyRough";
  src: local("WinkyRough"),
  url("./fonts/WinkyRough.ttf") format("truetype");
}
.font1{
  font-family: "WinkyRough", sans-serif;
}
h1{
  font-size: 5vw;
  font-family: 'Aladin-Regular', sans-serif;
}
h2{
  font-size: 4vw;
  font-style: italic;
  font-family: 'Aladin-Regular', sans-serif;
}
h3{
  font-size: 2vw;
}